* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: rgb(243, 243, 243);
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.contact-header {
    text-align: center;
    margin-top: 0;
    font-size: 40px;
}

.contact-header h1{
    font-family: monospace;
}

.contact-header h2 {
    font-family: monospace;
    color: #DC143C;
    font-size: 80px;
}

.contacts {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
    width: 100%;
    padding: 0 6%;
    gap: 18px;
}


.discord-container button{
    text-align: center;
    padding: 8px; 
    border: none;
    background: none;
    margin-top: 8px;
    cursor: pointer;
}

.discord-copy {
    color: inherit;
    font: inherit;
    color: #7289da;
}
.discord-copy h2 {
    position: relative; 
    color: black;
    margin-top: 6px;
}

.linkedin-container a {
    text-decoration: none;
    color: #0077B5;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linkedin-container a h2 {
    color: black;
}

.email-container a {
    text-decoration: none;
    color: #cc0000;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email-container a h2 {
    color: black;
}

.hover-border-effect {
    position: relative;
    overflow: hidden;
    transition: transform 0.5s ease;
}

.hover-border-effect:hover::after {
    width: 100%; 
}
.hover-border-effect:hover {
    transform: scale(1.05);
}