body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}
.header {
    text-align: center;
    margin-top: 7vh;
    font-size: 3vh;
    font-family: 'Nunito', sans-serif;
}

.social-media {
    text-align: center;
    display: flex;
    justify-content: center; 
    font-size: 1.35vh;
    margin-top: -4vh;
    margin-bottom: 2vh;
}

.social-media a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
    margin: 0 1vh; 
}

.social-media a i { 
    color: white;
    padding: 1.7vh; 
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: ease-in-out 0.3s;
}

.social-media a i:hover{
    transform: scale(1.1); 
}

.social-media a h2 {
    margin: 1vh 0 0 0; 
    font-size: 1.2vh;
    margin-top: -1.2vh;
    color: black;
    font-family: 'Nunito', sans-serif;
}


.home-class i{
    background-color: #32de84;

}

.github-class i {
    background-color: #333; 
}

.resume-class i {
    background-color: #8bc3fc; 
}


.hover-border-effect a {
    display: inline-block; 
    color: inherit; 
    text-decoration: none; 
}

.hover-border-effect:hover {
    background-color: #f0f0f0; 
    border-radius: 1vh; 
    transition: background-color 0.3s ease; 
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: white;
    border-radius: 2vh;
    width: 80%;
    max-width: 40%;
    margin: 2vh 0;
    padding: 2vh;
    text-align: center;
    transition: transform 0.7s, box-shadow 0.7s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0,0,0,0.3); 
    transition: transform 0.7s ease-out; 
}


.card-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    color: #666;
    font-size: 2.2vh;
}

.card h1 {
    color: #333;
    font-size: 3vh;
}

.card p {
    color: #666;
    font-size: 2vh;
    margin: 10px 0;
}

.tech-stack {
    margin: 2vh 0;
}

.tech-stack span {
    display: inline-block;
    background: #e1ecf4;
    color: #007bff;
    border-radius: 2.2vh;
    padding: 0.8vh 1.8vh;
    margin: 2px;
    font-size: 1.8vh;
}

.card a {
    color: #007bff;
    text-decoration: none;
    font-size: 1.8vh;
    margin-top: 1.3vh;
    display: inline-block;
}


#bracket_image{
    max-width: 22%;
    max-height: 10%;
}
#arcadeAI {
    max-width: 40%; 
    max-height: 40%;
}
#ti-image{
    max-width: 80%;
    max-height: 80%;
}

.github-class i:hover {
    box-shadow: 0 0 30px 10px rgba(51, 51, 51, 0.8);
}

.home-class i:hover {
    box-shadow: 0 0 30px 10px rgba(50, 222, 132, 0.8);
}
.resume-class i:hover {
    box-shadow: 0 0 30px 10px rgba(125, 177, 230, 0.8); 
}